body {
font-family:sans-serif;
}
a:link, a:visited {
text-decoration:none;
color:#06c;
}
a:hover, a:active {
text-decoration:underline;
}
div#content {
width:600px;
margin:auto;
}

div#header {
margin-bottom:1em;
padding-bottom:1em;
}
div#footer {
text-align:center;
margin-top:1em;
padding-top:1em;
clear:both;
}
div#header ul, div#footer ul {
font-size:90%;
list-style:none;
margin:0;
}
div#header ul li, div#footer ul li {
display:inline;
}
div#header ul {
float:right;
}
div#header h1 {
margin:0 auto;
}
div#header p {
margin:0 auto;
font-size:0.8em;
}

ul.tasklist {
list-style:none;
padding:0;
margin:0;
}
ul.tasklist li {
border-bottom:1px solid #ccc;
_margin:0 -0.5em;
}
ul.tasklist li span.task {
display:block;
_padding:0 0.5em;
}
ul.tasklist li a span:hover {
background:#eee;
}
ul.tasklist li a:link, ul.tasklist li a:visited {
text-decoration:none;
color:#000;
}
.details {
font-size:0.9em;
font-weight:normal;
}
ul.tasklist .active {
color:#090;
}
ul.tasklist .future {
color:#ccc;
}
ul.tasklist .today {
font-weight:bold;
}
ul.tasklist .overdue {
font-weight:bold;
color:#f00;
}
div#tasklist .actions {
display:inline-block;
float:right;
}
div#editor textarea {
width:100%;
}
div.scrap {
font-size:80%;
color:#666;
}
div#active, div#new, div#upcoming, div#finished, div#tasks, div#projects {
margin-bottom:0.5em;
}
.center {
text-align:center;
}
.right {
text-align:right;
}
.info {
border-bottom:1px dashed #06c
}

div.wlcSidebar {
float:right;
clear:both;
margin:0 0 1em 1em;
padding:0 0 0 1em;
border-left:1px dashed #ccc;
}
div.wlcSidebar h2 {
margin:0 auto;
}

div#login label, div#signup label, div#reset label, div#account label {
display:inline-block;
width:10em;
text-align:right;
}

.error {
color:#f00;
}
